<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AnnualReportSystem</display-name>
	<!--配置log4j初始化Servlet -->
	<servlet>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>com.kl.ar.common.controller.Log4jInit</servlet-class>
		<init-param>
			<param-name>configPath</param-name>
			<param-value>WEB-INF/classes/log4j.properties</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<!--对接资源中间件，接收数据 -->
	<servlet>
		<servlet-name>resService</servlet-name>
		<servlet-class>koal.urm.client.action.ResServiceServlet</servlet-class>
		<init-param>
			<param-name>resDaoClass</param-name>
			<param-value>com.kl.ar.resource.recv.ResRecvDaoImp</param-value>
		</init-param>
		<init-param>
			<param-name>daoType</param-name>
			<param-value>2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>resService</servlet-name>
		<url-pattern>/resReg</url-pattern>
	</servlet-mapping>
	<listener>
		<description>TomcatListener</description>
		<display-name>processRegister</display-name>
		<listener-class>com.kl.ar.resource.recv.ProcessRegister</listener-class>
	</listener>
	<!--字符编码过滤器 -->
	<filter>
		<filter-name>CharSetFilter</filter-name>
		<filter-class>com.kl.ar.common.filter.CharSetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharSetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--登录过滤器 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.kl.ar.common.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--session超时时间 -->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
</web-app>