<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.hk.exam.dao.PaperDao">
	<!--使用redis作为mybatis的二级缓存,针对具体某条语句禁用缓存,useCache="false",这里的RedisCache是个别名 
	<cache eviction="LRU" type="RedisCache" />-->
	<!-- 试卷映射 -->
	<resultMap type="Paper" id="paperMap">
		<id property="paperId" column="paper_id" />
		<result property="createPaperId" column="create_paper_id" />
		<result property="createPaperName" column="user_name" />
		<result property="paperName" column="paper_name" />
		<result property="paperScore" column="paper_score" />
		<result property="totalTime" column="total_time" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="curday" column="curday" />
		<result property="isAllowed" column="is_allowed" />
		<result property="isOk" column="is_ok" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />

		<result property="examPaperId" column="exam_paper_id" />
		<result property="paperStatus" column="paper_status" />
	</resultMap>
	<!-- 定义数据库基本列,只适用代替单表的* -->
	<sql id="Base_Column_List">paper_id,create_paper_id,paper_name,paper_score,total_time,start_time,end_time,curday,is_allowed,is_ok,create_time,update_time,remark
	</sql>
	<!-- 后台试卷分页显示列表 -->
	<select id="pageList" parameterType="BasePage" resultMap="paperMap">
		select * from tb_xn_exam_paper p inner join tb_xn_sys_user u on
		p.create_paper_id = u.user_id where p.is_ok=0
		<if test="bean != null">
			<if test="bean.paperName != null and bean.paperName != ''">
				and p.paper_name like CONCAT(CONCAT('%',
				#{bean.paperName}),'%')
			</if>
			<if test="bean.createPaperId != null">
				and p.create_paper_id = #{bean.createPaperId}
			</if>
			<if test="bean.paperScore != null and bean.paperScore != ''">
				and p.paper_score = #{bean.paperScore}
			</if>
			<if test="bean.curday != null and bean.curday != ''">
				and p.curday = #{bean.curday}
			</if>
			<if test="bean.isAllowed != null">
				and p.is_allowed = #{bean.isAllowed}
			</if>
		</if>
		ORDER BY p.create_time DESC LIMIT #{start},#{size}
	</select>
	<!-- 后台试卷分页总记录数 -->
	<select id="pageCount" parameterType="BasePage" resultType="int">
		select count(1) from tb_xn_exam_paper p inner join tb_xn_sys_user u on
		p.create_paper_id = u.user_id where p.is_ok=0
		<if test="bean != null">
			<if test="bean.paperName != null and bean.paperName != ''">
				and p.paper_name like CONCAT(CONCAT('%',
				#{bean.paperName}),'%')
			</if>
			<if test="bean.createPaperId != null">
				and p.create_paper_id = #{bean.createPaperId}
			</if>
			<if test="bean.paperScore != null and bean.paperScore != ''">
				and p.paper_score = #{bean.paperScore}
			</if>
			<if test="bean.curday != null and bean.curday != ''">
				and p.curday = #{bean.curday}
			</if>
			<if test="bean.isAllowed != null">
				and p.is_allowed = #{bean.isAllowed}
			</if>
		</if>
	</select>
	<!-- 添加试卷基本信息 -->
	<insert id="add" keyProperty="paperId" useGeneratedKeys="true"
		parameterType="Paper">
		INSERT INTO
		tb_xn_exam_paper(paper_name,create_paper_id,paper_score,total_time,start_time,end_time,curday,is_allowed,is_ok,create_time,update_time,remark)
		VALUES(#{paperName},#{createPaperId},#{paperScore},#{totalTime},#{startTime},#{endTime},DATE_FORMAT(NOW(),'%Y%m%d'),0,0,NOW(),NOW(),#{remark})
	</insert>
	<!-- 添加配置表信息 -->
	<insert id="configPaper">
		INSERT INTO
		tb_xn_exam_paper_config(paper_id,type_id,type_num,type_score,is_ok)
		VALUES(#{paperId},#{typeId},#{typeNum},#{typeScore},0)
	</insert>
	<!--添加生成表信息 -->
	<insert id="createPaper">
		INSERT INTO
		tb_xn_exam_paper_create(paper_id,type_id,question_id,is_ok)
		VALUES(#{paperId},#{typeId},#{questionId},0)
	</insert>
	<!-- 更新试卷基本信息 -->
	<update id="update" parameterType="Paper">
		UPDATE tb_xn_exam_paper SET
		paper_name =
		#{paperName},total_time=#{totalTime},start_time=#{startTime},end_time=#{endTime},update_time=now(),remark=#{remark}
		where paper_id=#{paperId}
	</update>
	<!-- 删除试卷基本信息 -->
	<update id="delete" parameterType="java.lang.Integer">
		UPDATE tb_xn_exam_paper SET
		is_ok=1,update_time=now() WHERE paper_id = #{0}
	</update>
	<!-- 删除配置表信息 -->
	<update id="deleteConfig" parameterType="java.lang.Integer">
		UPDATE
		tb_xn_exam_paper_config SET
		is_ok=1 WHERE paper_id = #{0}
	</update>
	<!-- 删除生成表信息 -->
	<update id="deleteCreate" parameterType="java.lang.Integer">
		UPDATE
		tb_xn_exam_paper_create SET
		is_ok=1 WHERE paper_id = #{0}
	</update>
	<!-- 根据试卷id查询该试卷 -->
	<select id="findById" parameterType="java.lang.Integer"
		resultMap="paperMap">
		SELECT
		*
		FROM tb_xn_exam_paper p inner join tb_xn_sys_user u on
		p.create_paper_id = u.user_id WHERE p.is_ok=0 AND
		p.paper_id=#{0}
	</select>
	<!-- 切换试卷状态 -->
	<update id="changeState">
		UPDATE
		tb_xn_exam_paper
		SET is_allowed =
		#{status},update_time=now() where
		paper_id=#{paperId}
	</update>
	<!-- 在试卷配置表中根据试卷ID查询该试卷简答题的分数 -->
	<select id="findScoreByPaperId" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT type_score FROM tb_xn_exam_paper_config WHERE
		paper_id =#{0} AND type_id = 3 AND is_ok =0
	</select>
</mapper>