<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.hk.system.dao.AdminLogDao">
	<!-- 用户映射 -->
	<resultMap type="AdminLog" id="adminLogMap">
		<id property="logId" column="log_id" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="logType" column="log_type" />
		<result property="logIp" column="log_ip" />
		<result property="logName" column="log_name" />
		<result property="logContent" column="log_content" />
		<result property="logResult" column="log_result" />
		<result property="curday" column="curday" />
		<result property="logTime" column="log_time" />
		<result property="logTimeStamp" column="log_timestamp" />
		<result property="isOk" column="is_ok" />
	</resultMap>
	<!-- 定义数据库基本列,只适用代替单表的* -->
	<sql id="Base_Column_List">log_id,user_id,user_name,log_type,log_ip,log_name,log_content,log_result,curday,log_time,log_timestamp,is_ok
	</sql>
	<!-- 添加日志 -->
	<insert id="insert" parameterType="AdminLog">
		INSERT INTO
		tb_xn_sys_admin_log
		VALUES(#{logId},#{userId},#{userName},#{logType},#{logIp},#{logName},#{logContent},#{logResult},#{curday},#{logTime},#{logTimeStamp},#{isOk})
	</insert>
	<!-- 分页显示所有日志 -->
	<select id="pageList" parameterType="BasePage" resultMap="adminLogMap">
		select * from tb_xn_sys_admin_log l left join tb_xn_sys_user u on l.user_id
		= u.user_id where l.is_ok =0
		<if test="bean != null">
			<if test="bean.logName != null and bean.logName != '' ">
				and l.log_name like CONCAT(CONCAT('%',
				#{bean.logName}),'%')
			</if>
			<if test="bean.userId != null and bean.userId != '' ">
				and l.user_id = #{bean.userId}
			</if>
			<if test="bean.curday != null and bean.curday != ''">
				and l.curday = #{bean.curday}
			</if>
		</if>
		ORDER BY l.log_time DESC LIMIT #{start},#{size}
	</select>
	<!-- 分页显示所有日志的记录数 -->
	<select id="pageCount" parameterType="BasePage" resultType="java.lang.Integer">
		select count(1) from tb_xn_sys_admin_log l left join tb_xn_sys_user u on l.user_id
		= u.user_id where l.is_ok =0
		<if test="bean != null">
			<if test="bean.logName != null and bean.logName != '' ">
				and l.log_name like CONCAT(CONCAT('%',
				#{bean.logName}),'%')
			</if>
			<if test="bean.userId != null and bean.userId != '' ">
				and l.user_id = #{bean.userId}
			</if>
			<if test="bean.curday != null and bean.curday != ''">
				and l.curday = #{bean.curday}
			</if>
		</if>
	</select>
	<!-- 分页显示所有日志的记录数 -->
	<select id="findAll" resultMap="adminLogMap">
		select * from tb_xn_sys_admin_log l left join tb_xn_sys_user u on l.user_id
		= u.user_id where l.is_ok =0
	</select>
</mapper>