<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.hk.system.dao.LogDao">
	<!-- 用户映射 -->
	<resultMap type="Log" id="logMap">
		<id property="logId" column="log_id" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="requestIp" column="request_ip" />
		<result property="requestClass" column="request_class" />
		<result property="requestMethod" column="request_method" />
		<result property="curday" column="curday" />
		<result property="createTime" column="create_time" />
		<result property="isOk" column="is_ok" />
	</resultMap>
	<!-- 定义数据库基本列,只适用代替单表的* -->
	<sql id="Base_Column_List">log_id,user_id,request_ip,request_class,request_method,curday,create_time,is_ok
	</sql>
	<!-- 添加日志 -->
	<insert id="add" parameterType="Log">
		INSERT INTO
		tb_xn_sys_log(log_id,user_id,request_ip,request_class,request_method,curday,create_time,is_ok)
		VALUES(#{logId},#{userId},#{requestIp},#{requestClass},#{requestMethod},DATE_FORMAT(NOW(),'%Y%m%d'),NOW(),0)
	</insert>
	<!-- 分页显示所有日志 -->
	<select id="pageList" parameterType="BasePage" resultMap="logMap">
		select * from tb_xn_sys_log l left join tb_xn_sys_user u on l.user_id
		= u.user_id where l.is_ok =0
		<if test="bean != null">
			<if test="bean.requestClass != null and bean.requestClass != '' ">
				and l.request_class like CONCAT(CONCAT('%',
				#{bean.requestClass}),'%')
			</if>
			<if test="bean.requestMethod != null and bean.requestMethod != '' ">
				and l.request_method like CONCAT(CONCAT('%',
				#{bean.requestMethod}),'%')
			</if>
			<if test="bean.userId != null and bean.userId != '' ">
				and l.user_id = #{bean.userId}
			</if>
			<if test="bean.curday != null and bean.curday != ''">
				and l.curday = #{bean.curday}
			</if>
		</if>
		ORDER BY l.create_time DESC LIMIT #{start},#{size}
	</select>
	<!-- 分页显示所有日志的记录数 -->
	<select id="pageCount" parameterType="BasePage" resultType="java.lang.Integer">
		select count(1) from tb_xn_sys_log l left join tb_xn_sys_user u on l.user_id
		= u.user_id where l.is_ok =0
		<if test="bean != null">
			<if test="bean.requestClass != null and bean.requestClass != '' ">
				and l.request_class like CONCAT(CONCAT('%',
				#{bean.requestClass}),'%')
			</if>
			<if test="bean.requestMethod != null and bean.requestMethod != '' ">
				and l.request_method like CONCAT(CONCAT('%',
				#{bean.requestMethod}),'%')
			</if>
			<if test="bean.userId != null and bean.userId != '' ">
				and l.user_id = #{bean.userId}
			</if>
			<if test="bean.curday != null and bean.curday != ''">
				and l.curday = #{bean.curday}
			</if>
		</if>
	</select>
	<!-- 分页显示所有日志的记录数 -->
	<select id="findAll" resultMap="logMap">
		select * from tb_xn_sys_log l left join tb_xn_sys_user u on l.user_id
		= u.user_id where l.is_ok =0
	</select>
	<!-- 逻辑删除日志 -->
	<update id="delete" parameterType="java.lang.String">
		update tb_xn_sys_log set
		is_ok = 1
		where log_id = #{0}
	</update>
</mapper>