<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.hk.system.dao.ModuleDao">
	<!--使用redis作为mybatis的二级缓存,针对具体某条语句禁用缓存,useCache="false",这里的RedisCache是个别名
	<cache eviction="LRU" type="RedisCache" />-->
	<!-- 模块映射 -->
	<resultMap type="Module" id="moduleMap">
		<id property="moduleId" column="module_id" />
		<result property="moduleName" column="module_name" />
		<result property="parentId" column="parent_id" />
		<result property="moduleLevel" column="module_level" />
		<result property="actionUrl" column="action_url" />
		<result property="isAllowed" column="is_allowed" />
		<result property="isOk" column="is_ok" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />

		<collection property="roles" ofType="Role">
			<id property="roleId" column="role_id" />
			<result property="roleName" column="role_name" />
			<result property="isOk" column="is_ok" />
			<result property="createTime" column="create_time" />
			<result property="updateTime" column="update_time" />
			<result property="remark" column="remark" />
		</collection>
	</resultMap>
	<!-- 定义数据库基本列,只适用代替单表的* -->
	<sql id="Base_Column_List">module_id,module_name,parent_id,module_level,action_url,is_allowed,is_ok,create_time,update_time,remark
	</sql>
	<!-- 查询所有模块,供角色也配 -->
	<select id="findAll" resultMap="moduleMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_xn_sys_module
		WHERE is_ok=0 AND is_allowed=0
	</select>
	<!-- 根据模块id查询该模块 -->
	<select id="findById" parameterType="java.lang.Integer"
		resultMap="moduleMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_xn_sys_module WHERE is_ok=0 AND
		module_id=#{0}
	</select>
	<!-- 根据模块名称查询该模块 -->
	<select id="findByName" parameterType="java.lang.String"
		resultMap="moduleMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_xn_sys_module WHERE is_ok=0 AND
		module_name=#{0}
	</select>
	<!-- 添加模块 -->
	<insert id="add" parameterType="Module">
		INSERT INTO
		tb_xn_sys_module(module_name,parent_id,module_level,action_url,is_allowed,is_ok,create_time,update_time,remark)
		VALUES(#{moduleName},#{parentId},#{moduleLevel},#{actionUrl},0,0,NOW(),NOW(),#{remark})
	</insert>
	<!-- 更新模块 -->
	<update id="update" parameterType="Module">
		UPDATE tb_xn_sys_module SET
		module_name = #{moduleName},parent_id =
		#{parentId},module_level=#{moduleLevel},action_url=#{actionUrl},update_time=now(),remark=#{remark}
		where module_id=#{moduleId}
	</update>
	<!-- 根据模块id删除该模块，做逻辑删除 -->
	<update id="delete" parameterType="java.lang.Integer">
		UPDATE tb_xn_sys_module SET
		is_ok=1,update_time=now() WHERE module_id = #{0}
	</update>
	<!--根据已登录用户的角色和模块级别查询可访问的模块列表 -->
	<select id="findModuleByRoleId" resultMap="moduleMap">
		SELECT * FROM
		tb_xn_sys_module m LEFT JOIN
		tb_xn_sys_role_module rm ON
		m.module_id =
		rm.module_id LEFT JOIN
		tb_xn_sys_role r ON rm.role_id =
		r.role_id WHERE
		m.is_ok=0 AND
		rm.is_ok=0 AND
		r.role_id = #{roleId} AND
		module_level=#{level}
	</select>
	<!-- 分页显示列表 -->
	<select id="pageList" parameterType="BasePage" resultMap="moduleMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_xn_sys_module WHERE is_ok=0
		<if test="bean != null">
			<if test="bean.moduleName != null and bean.moduleName != ''">
				<!--${}解析过来的参数值不带单引号，#{}解析传过来参数带单引号 -->
				and module_name like CONCAT(CONCAT('%', #{bean.moduleName}),'%')
			</if>
			<if test="bean.isAllowed != null">
				and is_allowed = #{bean.isAllowed}
			</if>
			<if test="bean.moduleLevel != null">
				and module_level = #{bean.moduleLevel}
			</if>
			ORDER BY create_time DESC LIMIT #{start},#{size}
		</if>
	</select>
	<!-- 分页总记录数 -->
	<select id="pageCount" parameterType="BasePage" resultType="int">
		SELECT COUNT(1) FROM tb_xn_sys_module WHERE is_ok=0
		<if test="bean.moduleName != null and bean.moduleName != ''">
			and module_name like CONCAT(CONCAT('%',
			#{bean.moduleName}),'%')
		</if>
		<if test="bean.isAllowed != null">
			and is_allowed = #{bean.isAllowed}
		</if>
		<if test="bean.moduleLevel != null">
			and module_level = #{bean.moduleLevel}
		</if>
	</select>
	<!-- 切换模块状态 -->
	<update id="changeState">
		UPDATE
		tb_xn_sys_module
		SET is_allowed =
		#{status},update_time=now() where
		module_id=#{moduleId}
	</update>
	<!-- 根据模块级别查询该级别的模块列表 -->
	<select id="findModuleByLevel" parameterType="java.lang.Integer"
		resultMap="moduleMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_xn_sys_module WHERE is_ok=0 AND is_allowed = 0 AND
		module_level=#{0}
	</select>
</mapper>